.custom-menu-v2{margin:0 0 25px}
.custom-menu-v2__ul{list-style:none;margin:0;padding:0;/* font-size:.95em; */border-radius:4px;background:var(--menu-module-bg)}
.custom-menu-v2__li{}
.custom-menu-v2__li:not(:first-child){border-top:solid 1px rgba(0 0 0 / .06)}
.custom-menu-v2__a{display:flex;justify-content:space-between;padding:13px 15px;font-weight:500;color:var(--menu-module-c1)!important}
.custom-menu-v2__a:hover{color:var(--menu-module-c1-hover)!important}

.custom-menu-v2__children{list-style:none;padding:0 15px}
.custom-menu-v2__children-a{display:flex;align-items:center;padding:0 0 10px;font-size:.95em;color:var(--menu-module-c2)}
.custom-menu-v2__children-a:hover{color:var(--menu-module-c2-hover)}
.custom-menu-v2__children-a:first-child{margin:-2px 0 0}
.custom-menu-v2__children-a:last-child{padding-bottom:10px}

.custom-menu-v2__children2{list-style:none;padding:0 10px 5px}
.custom-menu-v2__children2-a{display:flex;align-items:center;padding:0 15px 5px 5px;font-size:.95em;color:var(--menu-module-c3)}
.custom-menu-v2__children2-a:hover{color:var(--menu-module-c3-hover)}
.custom-menu-v2__children2-a:last-child{padding-bottom:10px}

.custom-menu-v2__pm{display:flex;min-width:30px;margin:-13px -15px -13px 0;justify-content:center;align-items:center;font-size:.8em;color:rgba(0 0 0 /.5)}
.custom-menu-v2__pm:hover{background:rgba(0 0 0 / .05)}
.custom-menu-v2__pm:not(.open) .fa-minus{display:none}
.custom-menu-v2__pm.open .fa-plus{display:none}

.custom-menu-v2-tabs{display:flex;flex-wrap:wrap;margin:0 -20px 35px 0;font-size:.95em}
.custom-menu-v2-tabs__a{flex:1 1 100%;margin:-5px 0 15px;color:var(--menu-module-c1)}
.custom-menu-v2-tabs__a{font-weight:700}
.custom-menu-v2-tabs__a:hover{color:var(--menu-module-c1-hover)}
.custom-menu-v2-tabs__ul{list-style:none;margin:0;padding:0 20px 0 0;width:25%}
.custom-menu-v2-tabs__children-a{display:flex;align-items:center;margin:0 0 10px;padding:6px 10px;font-weight:500;color:var(--menu-module-c2);background:rgba(0 0 0 / .03);border-radius:10px}
.custom-menu-v2-tabs__children-a:hover{color:var(--menu-module-c2-hover)}

.custom-menu-v2-tabs__children-a:hover{color:var(--menu-module-c2-hover)}
.custom-menu-v2-tabs__children2{list-style:none;padding:0 0 5px 15px}
.custom-menu-v2-tabs__children2-a{display:flex;align-items:center;margin:0 0 10px;padding:6px 10px;color:var(--menu-module-c3);background:rgba(0 0 0 / .03);border-radius:10px}
.custom-menu-v2-tabs__children2-a:hover{color:var(--menu-module-c3-hover)}

.custom-menu-v2-tabs a.disabled{pointer-events:none;cursor:default}

@media(max-width:992px){
    .custom-menu-v2-tabs > ul{width:33.33333%}
}

@media(max-width:575px){
    .custom-menu-v2-tabs > ul{width:50%}
}